.brand {
    margin-right: auto;
    padding: 4.48vw 0;
    display: flex;
    text-decoration: none;
}

.brand__image {
    display: block;
    width: 9.6vw;
    height: 9.6vw;
    color: #ffffff;
}

@media screen and (max-width: 767px) {
    .brand__title {
        display: none;
    }
}

@media screen and (min-width: 768px) {
    .brand {
        margin-right: 5.543vw;
        padding: 1.6927vw 0;
        display: flex;
        align-items: center;
    }
    .brand__image {
        margin-right: 1.171875vw;
        width: 3.90625vw;
        height: 3.90625vw;
        color: #2B2B51;
    }
    .brand__title {
        color: #2B2B51;
        font-size: 2.6042vw;
        letter-spacing: 0.0651vw;
        font-weight: 500;
    }
}

@media screen and (min-width: 1024px) {
    .brand {
        margin-right: 4.199vw;
        padding: 1.2695vw 0;
    }
    .brand__image {
        margin-right: 1.074vw;
        width: 2.9296875vw;
        height: 2.9296875vw;
    }
    .brand__title {
        font-size: 1.953125vw;
        letter-spacing: 0.0488vw;
    }
}

@media screen and (min-width: 1300px) {
    .brand {
        margin-right: 43px;
        padding: 13px 0;
    }

    .brand__image {
        margin-right: 11px;
        width: 30px;
        height: 30px;
    }

    .brand__title {
        font-size: 20px;
        letter-spacing: .5px;
    }
}