.hero {
    position: relative;
}

.hero__main {
    margin-bottom: 1.28vw;
    padding: 5.12vw 3.125vw 0 6.4vw;
}
.hero__title {
    margin: 0 0 6.4vw;
    font-weight: 400;
}

.hero__subtitle {
    margin: 0 0 6.4vw;
    font-weight: 500;
}

.hero__list {
    padding: 0 0 0 7.04vw;
    list-style: none;
}

.hero__list-item {
    position: relative;
}

.hero__list-item::before {
    content: "";
    position: absolute;
    top: 0.96vw;
    left: -7.04vw;
    display: block;
    width: 3.84vw;
    height: 3.84vw;
    border-radius: 50%;
}

.hero__list-item:not(:last-child) {
    margin: 0 0 6.4vw;
}

.hero__images {
    position: absolute;
    bottom: 34.375vw;
    width: 100%;
}

.hero__image {
    margin: 0;
    display: block;
}

.hero__image img {
    display: block;
    width: 100%;
    height: auto;
}

.hero__image-first {
    position: relative;
    padding-top: 90.625%;
}

.hero__image-second {
    position: absolute;
}

.hero__image-first img {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
}

.hero__button {
    position: absolute;
    bottom: 18.75vw;
    left: 50%;
    margin: 0;
    padding: 0 6.4vw;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 62.5vw;
    height: 16vw;
    color: #ffffff;
    font-size: 3.2vw;
    font-weight: 500;
    line-height: 1.8;
    letter-spacing: 0.384vw;
    text-transform: uppercase;
    text-decoration: none;
    background-color: #0073F1;
    border: none;
    border-radius: 8vw;
    box-sizing: border-box;
    cursor: pointer;

    transform: translateX(-50%);
}

@media screen and (max-width: 767px) {
    .hero__title + .hero__list {
        padding-top: 6.25vw;
    }
}

@media screen and (min-width: 768px) {
    .hero {
        display: flex;
        flex-wrap: wrap;
    }
    .hero__main {
        margin-bottom: 0;
        padding: 10.026vw 0 0 4.9479vw;
        width: 55vw;
        min-height: 57.6823vw;
    }

    .hero__title {
        margin-bottom: 2.6042vw;
        font-size: 4.6875vw;
        line-height: 1.1;
    }
    .hero__subtitle {
        margin-bottom: 2.6042vw;
    }

    .hero__list {
        padding-left: 4.1667vw;
    }
    .hero__list-item::before {
        top: 0.39vw;
        left: -4.1667vw;
        width: 1.5625vw;
        height: 1.5625vw;
    }
    .hero__list-item:not(:last-child) {
        margin-bottom: 2.6042vw;
    }

    .hero__images {
        bottom: 0;
        left: 46.875vw;
        width: 48.1771vw;
    }
    .hero__image-first {
        padding-top: 140.54054%;
    }

    .hero__button {
        left: 4.9479vw;
        bottom: 7.8125vw;
        width: 26.042vw;
        height: 6.51042vw;
        font-size: 1.3021vw;
        letter-spacing: 0.130vw;
        transform: none;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .hero__title + .hero__list {
        padding-top: 1.953125vw;
    }
}

@media screen and (min-width: 1024px) {
    .hero__main {
        padding: 9.765625vw 0 0 4.9479vw;
        width: 46.09375vw;
        min-height: 41.2109375vw;
    }

    .hero__title {
        margin-bottom: 1.953125vw;
        display: flex;
        align-items: center;
        min-height: 11.71875vw;
        font-size: 3.515625vw;
    }
    .hero__subtitle {
        margin-bottom: 1.953125vw;
    }

    .hero__list {
        padding-left: 3.125vw;
    }

    .hero__list-item::before {
        top: 0.390625vw;
        left: -3.125vw;
        width: 1.171875vw;
        height: 1.171875vw;
    }

    .hero__list-item:not(:last-child) {
        margin-bottom: 1.953125vw;
    }

    .hero__images {
        position: relative;
        left: 0;
        width: 44.140625vw;
    }
    .hero__image-first {
        padding-top: 115.04425%;
    }

    .hero__button {
        left: 4.8828125vw;
        bottom: 3.90625vw;
        padding: 0 2.44140625vw;
        width: 19.530vw;
        height: 4.8828125vw;
        font-size: 0.9765625vw;
        letter-spacing: .1em;
    }
}

@media screen and (min-width: 1300px) {
    .hero__main {
        padding-top: 100px;
        padding-left: calc(50vw - 600px);
        width: 588px;
        min-height: 420px;
    }
    .hero__title {
        margin-bottom: 20px;
        min-height: 120px;
        font-size: 36px;
        line-height: 40px;
    }

    .hero__subtitle {
        margin-bottom: 20px;
    }

    .hero__list {
        padding-left: 32px;
    }

    .hero__list-item::before {
        top: 3px;
        left: -32px;
        width: 12px;
        height: 12px;
    }

    .hero__list-item:not(:last-child) {
        margin-bottom: 20px;
    }

    .hero__images {
        position: relative;
        left: 0;
        margin-left: auto;
        padding-right: calc(50vw - 600px);
        width: 588px;
    }

    .hero__image-first {
        padding-top: 88.43537%;
    }

    .hero__button {
        left: calc(50vw - 600px);
        bottom: 40px;
        padding: 0 25px;
        width: 200px;
        height: 50px;
        font-size: 10px;
    }
}