.header {
    padding: 0 6.4vw 7.36vw 5.12vw;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    color: #ffffff;
    background: #2B2B51;
}

.header__title {
    margin: 0;
    padding-left: 1.28vw;
    font-size: 5.12vw;
    line-height: 1.24;
    font-weight: 400;
}

.header__button {
    margin: 0;
    padding: 0;
    width: 57.6vw;
    color: inherit;
    text-align: right;
    font: inherit;
    font-size: 3.84vw;
    line-height: 6.4vw;
    background: none;
    border: none;
    cursor: pointer;
}

@media screen and (max-width: 767px) {
    .header__phone {
        display: none;
    }
}

@media screen and (min-width: 768px) {
    .header {
        position: absolute;
        top: 0;
        left: 0;
        padding-right: 4.8177vw;
        width: 100%;
        background: none;
        box-sizing: border-box;
        z-index: 10;
    }

    .header__button {
        margin-right: auto;
        padding-top: 0.78125vw;
        width: auto;
        color: #2B2B51;
        font-size: 1.5625vw;
    }

    .header__button:focus,
    .header__button:hover {
        text-decoration: underline;
    }

    .header__phone {
        padding-top: 0.78125vw;
        color: #2B2B51;
        font-size: 3.125vw;
        text-decoration: none;
    }

    .header__title {
        display: none;
    }
}

@media screen and (min-width: 1024px) {
    .header {
        padding: 0 4.78515625vw;
    }
    .header__button {
        padding-top: 0.5859375vw;
        font-size: 1.171875vw;
        line-height: 1.4;
    }
    
    .header__phone {
        padding-top: 0.390625vw;
        font-size: 2.34375vw;
    }
}

@media screen and (min-width: 1300px) {
    .header {
        padding: 0 calc(50% - 600px);
    }

    .header__button {
        padding-top: 5px;
        font-size: 12px;
    }

    .header__phone {
        padding-top: 6px;
        font-size: 24px;
    }
}