.carousel {
    position: relative;
}

.carousel__list {
    margin: 0;
    padding: 0;
    display: flex;
    width: 100%;
    list-style: none;
    overflow: hidden;
}

.carousel__list-item {
    width: 100%;
    flex: none;
    transform: translateX(0);
}

.carousel__nav,
.carousel__list-item-buttons {
    position: absolute;
    bottom: 8.32vw;
    display: flex;
    width: 100%;
    justify-content: center;
}

.carousel__nav-button,
.carousel__list-item-button {
    margin: 0;
    padding: 0;
    width: 2.56vw;
    height: 2.56vw;
    color: #333333;
    background-color: currentColor;
    border: none;
    border-radius: 50%;
    cursor: pointer;
}

.carousel__nav-button:not(:last-child),
.carousel__list-item-button:not(:last-child) {
    margin-right: 3.84vw;
}

.carousel__list-item-buttons {
    pointer-events: none;
}

.carousel__list-item[data-slide="1"] .hero__list-item::before,
.carousel__list[data-active-slide="1"] + .carousel__nav > .carousel__nav-button:nth-child(1),
.carousel__list-item[data-slide="1"] .carousel__list-item-button:nth-child(1) {
    background-color: #F2C94C;
}
.carousel__list-item[data-slide="2"] .hero__list-item::before,
.carousel__list[data-active-slide="2"] + .carousel__nav > .carousel__nav-button:nth-child(2),
.carousel__list-item[data-slide="2"] .carousel__list-item-button:nth-child(2) {
    background-color: #FF7777;
}
.carousel__list-item[data-slide="3"] .hero__list-item::before,
.carousel__list[data-active-slide="3"] + .carousel__nav > .carousel__nav-button:nth-child(3),
.carousel__list-item[data-slide="3"] .carousel__list-item-button:nth-child(3) {
    background-color: #71D0BA;
}
.carousel__list-item[data-slide="4"] .hero__list-item::before,
.carousel__list[data-active-slide="4"] + .carousel__nav > .carousel__nav-button:nth-child(4),
.carousel__list-item[data-slide="4"] .carousel__list-item-button:nth-child(4) {
    background-color: #81B1D9;
}
.carousel__list-item[data-slide="5"] .hero__list-item::before,
.carousel__list[data-active-slide="5"] + .carousel__nav > .carousel__nav-button:nth-child(5),
.carousel__list-item[data-slide="5"] .carousel__list-item-button:nth-child(5) {
    background-color: #A57FD3;
}
.carousel__list-item[data-slide="6"] .hero__list-item::before,
.carousel__list[data-active-slide="6"] + .carousel__nav > .carousel__nav-button:nth-child(6),
.carousel__list-item[data-slide="6"] .carousel__list-item-button:nth-child(6) {
    background-color: #71D0BA;
}

.carousel__list-item[data-slide="1"] .hero {
    background-color: #FFF8CC;
}
.carousel__list-item[data-slide="2"] .hero {
    background-color: #FFE9E9;
}
.carousel__list-item[data-slide="3"] .hero {
    background-color: #D9F4F2;
}
.carousel__list-item[data-slide="4"] .hero {
    background-color: #E1EAF7;
}
.carousel__list-item[data-slide="5"] .hero {
    background-color: #F3EFF7;
}
.carousel__list-item[data-slide="6"] .hero {
    background-color: #EEF8E4;
}

.carousel__list-item[data-slide="1"] .hero__image-second {
    top: 1.28vw;
    left: 3.2vw;
    width: 40.32vw;
    height: auto;
}

.carousel__list-item[data-slide="2"] .hero__image-second {
    top: -2.5vw;
    left: 53.4375vw;
    width: 46.875vw;
    height: auto;
}

.carousel__list-item[data-slide="3"] .hero__image-second {
    top: 6.19195vw;
    left: 55.625vw;
    width: 38.125vw;
    height: auto;
}

.carousel__list-item[data-slide="4"] .hero__image-second {
    top: 37.5vw;
    left: 54.375vw;
    width: 29.0625vw;
    height: auto;
}

.carousel__list-item[data-slide="5"] .hero__image-second {
    top: 11.25vw;
    left: 62.1875vw;
    width: 32.8125vw;
    height: auto;
}

.carousel__list-item[data-slide="6"] .hero__image-second {
    top: -12.5vw;
    left: 10vw;
    width: 30vw;
    height: auto;
}

@media screen and (max-width: 1023px) {
    .carousel__list {
        overflow-x: scroll;
        scroll-snap-type: x mandatory;
    }
    .carousel__list-item {
        scroll-snap-align: start;
    }
    .carousel__nav {
        display: none;
    }
}

@media screen and (min-width: 768px) {
    .carousel__nav,
    .carousel__list-item-buttons {
        bottom: 3.6458vw;
    }
    .carousel__nav-button,
    .carousel__list-item-button {
        width: 1.042vw;
        height: 1.042vw;
    }
    .carousel__nav-button:not(:last-child),
    .carousel__list-item-button:not(:last-child) {
        margin-right: 1.5625vw;
    }

    .carousel__list-item[data-slide="1"] .hero__image-second {
        top: 11.9792vw;
        left: 7.03125vw;
        width: 19.7917vw;
    }

    .carousel__list-item[data-slide="2"] .hero__image-second {
        top: 9.8958vw;
        left: 25.5208vw;
        width: 19.53125vw;
    }

    .carousel__list-item[data-slide="3"] .hero__image-second {
        top: 10.6771vw;
        left: 27.474vw;
        width: 20.4427vw;
    }

    .carousel__list-item[data-slide="4"] .hero__image-second {
        top: 32.9427vw;
        left: 23.4375vw;
        width: 20.9635vw;
    }

    .carousel__list-item[data-slide="5"] .hero__image-second {
        top: 15.625vw;
        left: 29.1667vw;
        width: 19.53125vw;
    }

    .carousel__list-item[data-slide="6"] .hero__image-second {
        top: 10.4167vw;
        left: 9.6354vw;
        width: 16.9271vw;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .carousel__list-item[data-slide="4"] .hero__main {
        width: 44.2708vw;
    }
    .carousel__list-item[data-slide="5"] .hero__main {
        width: 48vw;
    }
    .carousel__list-item[data-slide="6"] .hero__main {
        width: 49.48vw;
    }
}

@media screen and (min-width: 1024px) {
    .carousel__list-item-buttons {
        display: none;
    }
    .carousel__nav {
        position: static;
    }

    .carousel__nav-button {
        padding: 0 0.9vw;
        width: 14.2578125vw;
        height: 5.859375vw;
        color: #2B2B51;
        font-size: 1.07421875vw;
        line-height: 144%;
        border-radius: 0;
        border-bottom-left-radius: 0.48828125vw;
        border-bottom-right-radius: 0.48828125vw;
        background-color: #F7F7F7;
    }

    .carousel__nav-button:not(:last-child) {
        margin-right: 0.9765625vw;
    }

    .carousel__list[data-active-slide="2"] .carousel__list-item {
        transform: translateX(-100%);
    }
    
    .carousel__list[data-active-slide="3"] .carousel__list-item {
        transform: translateX(-200%);
    }
    
    .carousel__list[data-active-slide="4"] .carousel__list-item {
        transform: translateX(-300%);
    }
    
    .carousel__list[data-active-slide="5"] .carousel__list-item {
        transform: translateX(-400%);
    }
    
    .carousel__list[data-active-slide="6"] .carousel__list-item {
        transform: translateX(-500%);
    }

    .carousel__list[data-active-slide="1"] + .carousel__nav > .carousel__nav-button:nth-child(1) {
        background-color: #FFF8CC;
    }
    .carousel__list[data-active-slide="2"] + .carousel__nav > .carousel__nav-button:nth-child(2) {
        background-color: #FFE9E9;
    }
    .carousel__list[data-active-slide="3"] + .carousel__nav > .carousel__nav-button:nth-child(3) {
        background-color: #D9F4F2;
    }
    .carousel__list[data-active-slide="4"] + .carousel__nav > .carousel__nav-button:nth-child(4) {
        background-color: #E1EAF7;
    }
    .carousel__list[data-active-slide="5"] + .carousel__nav > .carousel__nav-button:nth-child(5) {
        background-color: #F3EFF7;
    }
    .carousel__list[data-active-slide="6"] + .carousel__nav > .carousel__nav-button:nth-child(6) {
        background-color: #EEF8E4;
    }

    .carousel__list-item[data-slide="1"] .hero__image-second {
        top: 3.90625vw;
        left: 0;
        width: 20.3125vw;
    }

    .carousel__list-item[data-slide="2"] .hero__image-second {
        top: 6.25vw;
        left: 25.78125vw;
        width: 16.69921875vw;
    }

    .carousel__list-item[data-slide="3"] .hero__image-second {
        top: 5.76171875vw;
        left: 23.046875vw;
        width: 19.23828125vw;
    }

    .carousel__list-item[data-slide="4"] .hero__image-second {
        top: 21.875vw;
        left: 22.8515625vw;
        width: 15.72265625vw;
    }

    .carousel__list-item[data-slide="5"] .hero__image-second {
        top: 9.765625vw;
        left: 25.87890625vw;
        width: 18.26171875vw;
    }

    .carousel__list-item[data-slide="6"] .hero__image-second {
        top: 8.88671875vw;
        left: 5.76171875vw;
        width: 14.16015625vw;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1299px) {
    .carousel__list-item[data-slide="5"] .hero__title {
        margin-bottom: 0;
    }
    .carousel__list-item[data-slide="5"] .hero__subtitle {
        margin-right: -0.9765625vw;
    }
}

@media screen and (min-width: 1300px) {
    .carousel__nav {
        padding: 0 calc(50% - 600px);
        display: flex;
        justify-content: space-between;
        box-sizing: border-box;
    }
    .carousel__nav-button {
        padding: 0 25px;
        width: 180px;
        height: 60px;
        font-size: 11px;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
    }

    .carousel__nav-button:not(:last-child) {
        margin-right: auto;
    }

    .carousel__list-item[data-slide="1"] .hero__images {
        margin-left: 38px;
        padding-right: 0;
    }
    .carousel__list-item[data-slide="1"] .hero__image-second {
        top: 41px;
        left: 10px;
        width: 208px;
    }

    .carousel__list-item[data-slide="2"] .hero__image-second {
        top: 63px;
        left: 363px;
        width: 191px;
    }

    .carousel__list-item[data-slide="3"] .hero__image-second {
        top: 71px;
        left: 347px;
        width: 197px;
    }

    .carousel__list-item[data-slide="4"] .hero__title {
        min-height: 80px;
    }
    .carousel__list-item[data-slide="4"] .hero__subtitle {
        width: 400px;
    }
    .carousel__list-item[data-slide="4"] .hero__list {
        width: 422px;
    }
    .carousel__list-item[data-slide="4"] .hero__image-second {
        top: 240px;
        left: 353px;
        width: 160px;
    }

    .carousel__list-item[data-slide="5"] .hero__title {
        min-height: 80px;
    }
    .carousel__list-item[data-slide="5"] .hero__list {
        width: 450px;
    }
    .carousel__list-item[data-slide="5"] .hero__image-second {
        top: 83px;
        left: 356px;
        width: 213px;
    }

    .carousel__list-item[data-slide="6"] .hero__list {
        width: 500px;
    }
    .carousel__list-item[data-slide="6"] .hero__image-second {
        top: 44px;
        left: 62px;
        width: 179px;
    }
}