@font-face {
  font-family: 'Geometria';
  src: local('Geometria Regular'), local('Geometria-Regular'),
      url('fonts/Geometria-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Geometria';
  src: local('Geometria Medium'), local('Geometria-Medium'),
      url('fonts/Geometria-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

body {
  color: #2B2B51;
  font-family: 'Geometria', sans-serif;
  font-size: 5.12vw;
  line-height: 1.2;
}

strong {
  font-weight: 500;
}

.app .hero {
  height: 231.25vw;
}

@media screen and (min-width: 768px) {
  body {
    font-size: 2.083vw;
    line-height: 1.24;
  }

  .app .hero {
    height: 67.70833vw;
  }
}

@media screen and (min-width: 1024px) {
  body {
    font-size: 1.5625vw;
  }

  .app .hero {
    height: 50.78125vw;
  }
}

@media screen and (min-width: 1300px) {
  body {
    font-size: 16px;
  }

  .app .hero {
    height: 520px;
  }
}